.item {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}
.name {
  font-weight: 700;
  display: block;
  width: 45%;
}
.button {
  background-color: rgb(224, 211, 92);
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
}
